<!-- fragments/header.html -->
<div th:fragment="navbar" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Botón toggle sidebar -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Texto o atajo rápido -->
        <span class="mr-auto d-none d-lg-inline text-gray-600 small">
            Bienvenido, <b th:text="${#authentication.principal.nombre} ?: ${#authentication.name}">Usuario</b>
        </span>

        <!-- Menú de usuario -->
        <ul class="navbar-nav ml-auto">
            <!-- Usuario -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                        th:text="${#authentication.principal.nombre} ?: ${#authentication.name}">Usuario</span>
                    <img class="img-profile rounded-circle" alt="perfil"
                         th:src="${#authentication.principal.usuario?.fotoPerfilUrl != null ? #authentication.principal.usuario.fotoPerfilUrl : '/img/fotoPerfil.png'}">
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" th:href="@{/perfil}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Perfil
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/auth/logout}">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Cerrar sesión
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</div>




<div th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-white sidebar sidebar-light border-end" id="accordionSidebar">

        <!-- Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-dumbbell text-primary"></i>
            </div>
            <div class="sidebar-brand-text mx-3 text-primary">Sabi APP</div>
        </a>

        <hr class="sidebar-divider my-0">

        <!-- Sidebar Entrenador -->
        <div sec:authorize="hasAnyRole('ENTRENADOR')">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/entrenador/dashboard}" sec:authorize="hasAnyRole('ENTRENADOR')">
                    <i class="fas fa-fw fa-home text-primary"></i>
                    <span class="text-primary">Inicio</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" th:href="@{/ejercicios}">
                    <i class="fas fa-fw fa-running"></i>
                    <span class="text-primary">Ejercicios</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/rutinas}">
                    <i class="fas fa-fw fa-calendar-check"></i>
                    <span class="text-primary">Rutinas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/entrenador/suscripciones}">
                    <i class="fas fa-fw fa-credit-card"></i>
                    <span class="text-primary">Clientes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/mensajes-pregrabados}">
                    <i class="fas fa-fw fa-envelope-open-text"></i>
                    <span class="text-primary">Mensajes Pregrabados</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/entrenador/enviar-correo-clientes}">
                    <i class="fas fa-fw fa-envelope"></i>
                    <span class="text-primary">Enviar correo a clientes</span>
                </a>
            </li>
        </div>

        <!-- Sidebar del cliente -->
        <div sec:authorize="hasAnyRole('CLIENTE')">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/cliente/dashboard}" sec:authorize="hasAnyRole('CLIENTE')">
                    <i class="fas fa-fw fa-home text-primary"></i>
                    <span class="text-primary">Inicio</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" th:href="@{/diagnostico/cliente}">
                    <i class="fas fa-fw fa-user-md text-primary"></i>
                    <span class="text-primary">Diagnóstico</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/diagnostico/historial}">
                    <i class="fas fa-fw fa-notes-medical text-primary"></i>
                    <span class="text-primary">Historial diagnóstico</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/rutina/cliente}">
                    <i class="fas fa-fw fa-calendar-check"></i>
                    <span class="text-primary">Mi Rutina</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cliente/listaEntrenadores}">
                    <i class="fas fa-fw fa-user-friends"></i>
                    <span class="text-primary">Entrenadores</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cliente/suscripcion}">
                    <i class="fas fa-fw fa-credit-card"></i>
                    <span class="text-primary">Mi Suscripcion</span>
                </a>
            </li>
        </div>

        <!-- Sidebar del ADMIN -->
        <div sec:authorize="hasAnyRole('ADMIN')">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/admin/dashboard}">
                    <i class="fas fa-fw fa-tachometer-alt text-primary"></i>
                    <span class="text-primary">Dashboard</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/usuarios}">
                    <i class="fas fa-fw fa-users text-primary"></i>
                    <span class="text-primary">Gestión de Usuarios</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/entrenadores}">
                    <i class="fas fa-fw fa-user-check text-primary"></i>
                    <span class="text-primary">Verificación Entrenadores</span>
                </a>
            </li>
        </div>

        <hr class="sidebar-divider d-none d-md-block">

        <!-- Botón toggle para ocultar -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
</div>

