<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista De Ejercicios</title>
</head>
<body th:replace="layout/layout :: layout('Lista de ejercicios', ~{::section})" xmlns:sec="http://www.w3.org/1999/xhtml">
<section th:fragment="section">
    <h1 class="h3 mb-4 text-gray-800">Lista de Ejercicios</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ejercicio : ${ejercicios}">
            <td th:text="${ejercicio.idEjercicio}"></td>
            <td th:text="${ejercicio.nombre}"></td>
            <td th:text="${ejercicio.descripcion}"></td>
            <td>
                <a th:href="@{'/ejercicios/editar/' + ${ejercicio.idEjercicio}}" class="btn btn-sm btn-primary">Editar</a>
                <a th:href="@{'/ejercicios/eliminar/' + ${ejercicio.idEjercicio}}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
